.custom-sidebar-menu .ant-menu-item {
  color: white;
  margin: 12px 0;
  font-size: 18px;
  height: 50px;
  width: 100%;
}

.custom-sidebar-menu .ant-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px 0 0 20px;
  width: 92%;
  margin-left: 20px;
}

.custom-sidebar-menu .ant-menu-item-selected {
  background-color: rgb(0, 0, 0) !important;
  color: rgb(255, 255, 255) !important;
  border-radius: 20px 0 0 20px;
  width: 92%;
  margin-left: 20px;
  padding-left: 40px;
}

.custom-sidebar-menu .ant-menu-item .anticon {
  color: white;
}

.custom-sidebar-menu .ant-menu-item-selected .anticon {
  color: white !important;
}
